USE [master]
GO
/****** Object:  Database [ALifeNews]    Script Date: 1/16/2023 9:19:22 PM ******/
CREATE DATABASE [ALifeNews]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ALifeNews', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ALifeNews.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ALifeNews_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\ALifeNews_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ALifeNews].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ALifeNews]
GO
/****** Object:  User [ALifeNewsUN]    Script Date: 1/16/2023 9:19:22 PM ******/
CREATE USER [ALifeNewsUN] FOR LOGIN [ALifeNewsUN] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [ALifeNewsUN]
GO
ALTER ROLE [db_datareader] ADD MEMBER [ALifeNewsUN]
GO
/****** Object:  Table [dbo].[AccessControl]    Script Date: 1/16/2023 9:19:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccessControl](
	[ACID] [int] IDENTITY(1,1) NOT NULL,
	[ACKey] [nvarchar](50) NOT NULL,
	[ACPermission] [int] NOT NULL,
 CONSTRAINT [PK_AccessControl] PRIMARY KEY CLUSTERED 
(
	[ACID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Issue]    Script Date: 1/16/2023 9:19:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Issue](
	[IssueID] [int] IDENTITY(1,1) NOT NULL,
	[IssueNum] [int] NOT NULL,
	[IssueYear] [int] NOT NULL,
	[IssueMonth] [int] NOT NULL,
	[IssueDay] [int] NOT NULL,
	[IssueWeek] [int] NOT NULL,
	[IssueWeekCh] [nvarchar](10) NOT NULL,
	[IssueReadOnly] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IssueSpeaker] [nvarchar](200) NOT NULL,
	[IssueBibleChapter] [nvarchar](200) NOT NULL,
	[IssueBibleTopic] [nvarchar](200) NOT NULL,
	[IssueGroupQuestions] [nvarchar](4000) NOT NULL,
	[Week1Duty] [nvarchar](1000) NOT NULL,
	[Week2Duty] [nvarchar](1000) NOT NULL,
 CONSTRAINT [PK_Issue] PRIMARY KEY CLUSTERED 
(
	[IssueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Note]    Script Date: 1/16/2023 9:19:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Note](
	[NoteID] [int] IDENTITY(1,1) NOT NULL,
	[IssueNum] [int] NOT NULL,
	[OrderNum] [int] NOT NULL,
	[NoteTitleCh] [nvarchar](500) NOT NULL,
	[NoteTextCh] [nvarchar](max) NOT NULL,
	[NoteTitle] [nvarchar](500) NOT NULL,
	[NoteText] [nvarchar](max) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Notes] PRIMARY KEY CLUSTERED 
(
	[NoteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Photo]    Script Date: 1/16/2023 9:19:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Photo](
	[PhotoID] [int] IDENTITY(1,1) NOT NULL,
	[IssueNum] [int] NOT NULL,
	[PhotoURL] [nvarchar](2000) NOT NULL,
	[PhotoWidth] [int] NOT NULL,
	[PhotoHeight] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[OrderNum] [int] NOT NULL,
 CONSTRAINT [PK_Photo] PRIMARY KEY CLUSTERED 
(
	[PhotoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotion]    Script Date: 1/16/2023 9:19:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotion](
	[PMID] [int] IDENTITY(1,1) NOT NULL,
	[IssueNum] [int] NOT NULL,
	[Title] [nvarchar](500) NOT NULL,
	[PMURL] [nvarchar](2000) NOT NULL,
	[PMWidth] [int] NOT NULL,
	[PMHeight] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[OrderNum] [int] NOT NULL,
	[LinkURL] [nvarchar](2000) NOT NULL,
 CONSTRAINT [PK_Promotion] PRIMARY KEY CLUSTERED 
(
	[PMID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AccessControl]    Script Date: 1/16/2023 9:19:22 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_AccessControl] ON [dbo].[AccessControl]
(
	[ACKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Issue]    Script Date: 1/16/2023 9:19:22 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Issue] ON [dbo].[Issue]
(
	[IssueNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AccessControl] ADD  CONSTRAINT [DF_AccessControl_ACKey]  DEFAULT ((0)) FOR [ACKey]
GO
ALTER TABLE [dbo].[AccessControl] ADD  CONSTRAINT [DF_AccessControl_ACPermission]  DEFAULT ((0)) FOR [ACPermission]
GO
ALTER TABLE [dbo].[Issue] ADD  CONSTRAINT [DF_Issue_IssueNum]  DEFAULT ((0)) FOR [IssueNum]
GO
ALTER TABLE [dbo].[Issue] ADD  CONSTRAINT [DF_Issue_IssueYear]  DEFAULT ((0)) FOR [IssueYear]
GO
ALTER TABLE [dbo].[Issue] ADD  CONSTRAINT [DF_Issue_IssueMonth]  DEFAULT ((0)) FOR [IssueMonth]
GO
ALTER TABLE [dbo].[Issue] ADD  CONSTRAINT [DF_Issue_IssueDay]  DEFAULT ((0)) FOR [IssueDay]
GO
ALTER TABLE [dbo].[Issue] ADD  CONSTRAINT [DF_Issue_IssueWeek]  DEFAULT ((0)) FOR [IssueWeek]
GO
ALTER TABLE [dbo].[Issue] ADD  CONSTRAINT [DF_Issue_IssueWeekCh]  DEFAULT ((0)) FOR [IssueWeekCh]
GO
ALTER TABLE [dbo].[Issue] ADD  CONSTRAINT [DF_Issue_IssueReadOnly]  DEFAULT ((0)) FOR [IssueReadOnly]
GO
ALTER TABLE [dbo].[Issue] ADD  CONSTRAINT [DF_Issue_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Issue] ADD  CONSTRAINT [DF_Issue_IssueSpeaker]  DEFAULT ((0)) FOR [IssueSpeaker]
GO
ALTER TABLE [dbo].[Issue] ADD  CONSTRAINT [DF_Issue_IssueBibleChapter]  DEFAULT ((0)) FOR [IssueBibleChapter]
GO
ALTER TABLE [dbo].[Issue] ADD  CONSTRAINT [DF_Issue_IssueBibleTopic]  DEFAULT ((0)) FOR [IssueBibleTopic]
GO
ALTER TABLE [dbo].[Issue] ADD  CONSTRAINT [DF_Issue_IssueGroupQuestions]  DEFAULT ((0)) FOR [IssueGroupQuestions]
GO
ALTER TABLE [dbo].[Issue] ADD  CONSTRAINT [DF_Issue_Week1Duty]  DEFAULT ((0)) FOR [Week1Duty]
GO
ALTER TABLE [dbo].[Issue] ADD  CONSTRAINT [DF_Issue_Week2Duty]  DEFAULT ((0)) FOR [Week2Duty]
GO
ALTER TABLE [dbo].[Note] ADD  CONSTRAINT [DF_Notes_IssueNum]  DEFAULT ((0)) FOR [IssueNum]
GO
ALTER TABLE [dbo].[Note] ADD  CONSTRAINT [DF_Notes_OrderNum]  DEFAULT ((0)) FOR [OrderNum]
GO
ALTER TABLE [dbo].[Note] ADD  CONSTRAINT [DF_Notes_NoteTitleCh]  DEFAULT ((0)) FOR [NoteTitleCh]
GO
ALTER TABLE [dbo].[Note] ADD  CONSTRAINT [DF_Notes_NoteTextCh]  DEFAULT ((0)) FOR [NoteTextCh]
GO
ALTER TABLE [dbo].[Note] ADD  CONSTRAINT [DF_Notes_NoteTitle]  DEFAULT ((0)) FOR [NoteTitle]
GO
ALTER TABLE [dbo].[Note] ADD  CONSTRAINT [DF_Notes_NoteText]  DEFAULT ((0)) FOR [NoteText]
GO
ALTER TABLE [dbo].[Note] ADD  CONSTRAINT [DF_Notes_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Photo] ADD  CONSTRAINT [DF_Photo_IssueNum]  DEFAULT ((0)) FOR [IssueNum]
GO
ALTER TABLE [dbo].[Photo] ADD  CONSTRAINT [DF_Photo_PhotoURL]  DEFAULT ((0)) FOR [PhotoURL]
GO
ALTER TABLE [dbo].[Photo] ADD  CONSTRAINT [DF_Photo_PhotoWidth]  DEFAULT ((0)) FOR [PhotoWidth]
GO
ALTER TABLE [dbo].[Photo] ADD  CONSTRAINT [DF_Photo_PhotoHeight]  DEFAULT ((0)) FOR [PhotoHeight]
GO
ALTER TABLE [dbo].[Photo] ADD  CONSTRAINT [DF_Photo_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Photo] ADD  CONSTRAINT [DF_Photo_OrderNum]  DEFAULT ((0)) FOR [OrderNum]
GO
ALTER TABLE [dbo].[Promotion] ADD  CONSTRAINT [DF_Promotion_IssueNum]  DEFAULT ((0)) FOR [IssueNum]
GO
ALTER TABLE [dbo].[Promotion] ADD  CONSTRAINT [DF_Promotion_Title]  DEFAULT ((0)) FOR [Title]
GO
ALTER TABLE [dbo].[Promotion] ADD  CONSTRAINT [DF_Promotion_PMURL]  DEFAULT ((0)) FOR [PMURL]
GO
ALTER TABLE [dbo].[Promotion] ADD  CONSTRAINT [DF_Promotion_PMWidth]  DEFAULT ((0)) FOR [PMWidth]
GO
ALTER TABLE [dbo].[Promotion] ADD  CONSTRAINT [DF_Promotion_PMHeight]  DEFAULT ((0)) FOR [PMHeight]
GO
ALTER TABLE [dbo].[Promotion] ADD  CONSTRAINT [DF_Promotion_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Promotion] ADD  CONSTRAINT [DF_Promotion_OrderNum]  DEFAULT ((0)) FOR [OrderNum]
GO
ALTER TABLE [dbo].[Promotion] ADD  CONSTRAINT [DF_Promotion_LinkURL]  DEFAULT ('') FOR [LinkURL]
GO
USE [master]
GO
